@font-face {
    font-family: "MHelvetica-LightOblique";
    src: url(Helvetica-LightOblique.otf) format("truetype");
}
body {
    background: url("backgorund.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.field {
    background-color: #000000;
    text-align: center;
    border-width: 0em;
    font-size: large;
    color: #ededed;
    font-family: MHelvetica-LightOblique;
    font-style: italic;
}
.email_in_popup{
    margin-top: 0em;
}
.field_invert {
    background-color: #ffffff;
    text-align: center;
    border-width: 0em;
    font-size: large;
    color: #000000;
    font-style: italic;
}
.block_field {
    width: 360px;
}
.button {
    background-color: #000000;
    text-align: center;
    border-width: 0em;
    font-size: large;
    color: #ffffff;
}
.button_invert{
    background-color: #ffffff;
    text-align: center;
    border-width: 0em;
    font-size: large;
    color: #000000;
}
.remember_checkbox {
    float: left;
    text-align: left;
    border-width: 0em;
    font-size: large;
    height: 3em;
    width: 10em;
    margin-top: 0.5em;
    padding-top: 1em;
    color: #ededed;
    font-family: MHelvetica-LightOblique;
}
.remember_label {
    font-weight: normal;
}
.field_size {
    height: 3em;
    width: 20em;
    margin-top: 0.5em;
}
.field_size_invert {
    height: 3em;
    width: 20em;
    margin-top: 1.5em;
}
.button-size {
    height: 3em;
    width: 10em;
    margin-top: 0.5em;
}
.login_button {
    float: right;
    color: #ededed;
    font-family: MHelvetica-LightOblique;
}

.sing_up_button {
    margin-left: 25%;
    margin-bottom: 40px;
    margin-top: 1.5em;
    background-color: #059cd1;
    color: #ffffff;
}
.forget_password {
    float: right;
    font-size: large;
    margin-top: 0.0em;
    color: #ededed;
    font-family: MHelvetica-LightOblique;
}
.sing_up_link {
    float: left;
    font-size: large;
    margin-top: 1em;
    color: #ededed;
    font-family: MHelvetica-LightOblique;
    background-color: transparent;
}
a:hover {
    background: transparent;
    color: #ededed;
    cursor:pointer;
}
.sing_up_title{
    text-align: center;
    font-size: 4em;
    padding-bottom: 49px;
    margin: 40px 0 10px;
    border-bottom: 1px solid #bfbfbf;
    color: #ffffff;
}
.popup_sing_up{
    margin-top: 15%;
}


