// Place all the styles related to the CustomFields controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-field-button{
  padding: 5px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: #f5f5f5;
  color: black;
  margin-left: 6px;
  border:1px #a0a0a0 solid;
}