// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.runs_table{
  background-color: #dddddd;
}
.legend-block{
  display: inline-block;
  width: 50%;
  float: right;
  margin-top: 70px;
  padding-left: 100px;
}
.chart-container{
  display: inline-block;
}