// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.runs_table{
  background-color: #dddddd;
}
.runs_hading{
  border-bottom: 1px solid #dddddd;
}
.legend-block{
  display: inline-block;
  width: 50%;
  float: right;
  margin-top: 70px;
  padding-left: 100px;
}
#chart-container{
  width: 50%;
  display: inline-block;
  float: left;
}
.status-box{
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 1px #a0a0a0 solid;
}
.status-name, .status-count{
  font-size: 18px;
}