// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product_item {
  text-align: center;
  height: 200px;
  width: 150px;
  display: inline-block;
  margin: 50px 5px 5px 50px;
}
.product_image{
  height: 150px;
  width: 150px;
  margin-bottom: 15px;
}
.product-name{
  font-size: 18px;

}
a.product-name:visited{
  color: #333333;
}
a.product-name:hover{
  color: #333333;
}
.product-name{
  color: #333333;
}