// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product_item {
  display: inline-table;
  text-align: center;
  height: 250px;
  width: 150px;
  margin: 50px 5px 5px 50px;
}

.product_image {
  position: relative;
  height: 150px;
  width: 100%;
  margin-bottom: 15px;
}

.product-name-block {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis; /* Добавляем многоточие */
  width: inherit;
}

a.product-name:visited {
  color: #333333;
}

a.product-name:hover {
  color: #333333;
}

.product-name {
  color: #333333;
}

.palladium-sidebar {
  width: 240px;
  text-overflow: ellipsis;
  vertical-align: top;
}

.sidebar-underspase {
  border-right: solid 1px #d1d1d1;
  padding-right: 24px;
  padding-left: 0px;
  min-height: 500px;
}

.plan-list-box {
  margin-top: 16px;
}

.create-new-plan-btn {
  border-radius: 4px;
  background-color: #ed7309;
  height: 32px;
  width: 100%;
  color: white;
  line-height: 16px;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 23px;
  min-width: 137px;
  float: left;
}

.create-new {
  padding: 7px 12px 0 16px;
  float: left;
  overflow: hidden;
  font-size: 15px;
}

.mainPageContent {
  display: inline-block;
  vertical-align: top;
  padding-left: 24px;
  padding-right: 24px;
  position: static;
  left: 340px;
  width: 100%;
  margin: auto;
  min-width: 1024px;
}

.plans-title {
  display: block;
  height: 35px;
  font-size: 24px;
  line-height: 30px;
}

.plan-name-link {
  font-weight: bold;
}

.plan_name {
  font-size: 18px;
}
.plan-element-underspase {
  padding-left: 24px;
}

a.plan-name-link {
  color: #333333;
  cursor: pointer;
}

.plan-name-link:hover {
  color: #333333;
}

.plan-name-link:visited {
  color: #333333;
}

.plan-name-block {
  height: 50px;
  padding-top: 13px
}

.plan-data-block {
  height: 50px;
  width: 300px;
  padding-top: 13px;
  display: inline-block;
}

a.file-upload {
  text-decoration: none;
}

.file-upload:hover, .file-upload:active {
  color: #7C7C7C;
  background-image: -webkit-linear-gradient(top, #f3f3f3, 0, #ebebeb, 100%);
  background-image: -moz-linear-gradient(top, #f3f3f3 0, #ebebeb 100%);
  background-image: linear-gradient(to bottom, #f3f3f3 0, #ebebeb 100%);
}

.file-upload {
  position: relative;
  border: 1px solid #bfbfbf;
  cursor: pointer;
  border-radius: 2px;
  display: inline-block;
  color: #7C7C7C;
  text-decoration: none;
  font-size: 13px;
  padding: 4px 15px;
  margin: 0;
  background: #dedede;
}

.file-upload input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 171px;
  height: 28px;
}

.actions-elements {
  margin: 5px 5px 5px 5px;
}

.repository-lang-stats-graph {
  border: 1px #000000;
  border-style: solid;
  display: table;
  width: 100%;
}

.language-color {
  display: table-cell;
  line-height: 8px;
  text-indent: -9999px;
}