// Place all the styles related to the ResultSets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.legend-block{
  display: inline-block;
  width: 50%;
  float: right;
  margin-top: 70px;
  padding-left: 100px;
}
.result-set-name-link{
  font-weight: bold;
}
a.result-set-name-link{
  color: #333333;
  cursor: pointer;
}
.result-set-name-link:hover{
  color: #333333;
}
.result-set-name-link:visited{
  color: #333333;
}
.change-status-button{
  font-size: 42px;
}
.status-name{
  font-size: 18px;
}
.result-set-element{
  height: 67px;
}
.result-set-name-block{
  padding-top: 25px;
}