// Place all the styles related to the Results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message {
  overflow: hidden;
}
.message-column{
  overflow: hidden;
  max-width: 400px;

}
.status-column{
  min-width: 100px;
  max-width: 200px;
}
.data-column{
  min-width: 180px;
}

.author-column{
  min-width: 50px;
  max-width: 200px;
}
#modal-data{
  padding-top: 25px;
  overflow: auto;
  height: 100px;
}
.modal-dialog{
  margin-top: 50px;
}
a.message-link{
  color: #333333;
  cursor: pointer;
}
.message-link:hover{
  color: #333333;
}
.message-link:visited{
  color: #333333;
}
.history-block{
  float: right;
}
.current-block{
  float: right;
}
.history-link, .current-link{
  font-size: 13px;
  color: #333333;
}
.history-link:hover, .history-link:visited, .current-link:hover, .current-link:visited{
  color: #333333;
}
//--------------------------------------history---------------------------------
#bar{
  width: auto;
  height: 20px;
  margin-left: 4%;
  margin-right: 3%;
  margin-top: 50px;
}
a.back-to-current-link, .back-to-current-link:hover, .back-to-current-link:visited  {
  color: #333333;
  cursor: pointer;
  white-space: nowrap;
}