// Place all the styles related to the Results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message {
  overflow: hidden;
  max-width: 750px;
}
.message-column{
  overflow: hidden;
  max-width: 400px;

}
.status-column{
  min-width: 100px;
  max-width: 200px;
}
.data-column{
  min-width: 180px;
}

.author-column{
  min-width: 50px;
  max-width: 200px;
}
#modal-data{
  padding-top: 25px;
  overflow: auto;
  height: 100px;
}
.modal-dialog{
  margin-top: 50px;
}
a.message-link{
  color: #333333;
  cursor: pointer;
}
.message-link:hover, .message-link:visited{
  color: #333333;
}
.history-block, .current-block{
  float: right;
}
.link-advanced{
  font-size: 13px;
}
.link-advanced, .link-advanced:hover, .link-advanced:visited, .link-advanced:hover, .link-advanced:visited{
  color: #333333;
}
//--------------------------------------history---------------------------------
#bar{
  width: auto;
  height: auto;
  margin-right: 3%;
  margin-top: 50px;
  padding-left: 8px;
  margin-bottom: 8px;
}
a.back-to-current-link, .back-to-current-link:hover, .back-to-current-link:visited  {
  color: #333333;
  cursor: pointer;
  white-space: nowrap;
}
.temp-status{
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 1px #a0a0a0 solid;
  margin-right: 3px;
  cursor: pointer;
}
.temp-status:hover{
  border: 1px #4d4d4d solid;
}
.all-results{
  width:100%;
  max-width: 300px;
  display: inline-block;
  border: 1px #a0a0a0 solid;
  padding: 8px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}
.all-runs{
  border: 1px #a0a0a0 solid;
  padding: 8px;
  cursor: pointer;
}
.all-block{
  display: inline-block;
  margin-right: 3px;
  margin-left: 3px;
}
.date-block{
  float: right;
}