<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12" style='float: inherit'>
      <%= form_for(@product) do |f| %>
          <div class="row block_field">
            <%= f.text_field :name, autofocus: true, class: 'field_invert field_size_invert', :placeholder => 'Product name' %>
            <%= f.hidden_field :id, :value => @product.id %>
            <%= f.submit 'Save', class: 'button button-size create_product_button' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
</div>