<div class="container">
  <% @products.each do |product| %>

      <div class="product_item">
        <a href=<%= product_path(product) %>>
          <img class="product_image" src="http://placehold.it/300x200" alt="asdasdasdasd">
        </a>
        <a class="product-name link" href=<%= product_path(product)%>><%= product.name %></a>
      </div>
  <% end %>
</div>
