<div class="container">
  <% @products.each do |product| %>
      <a class="link product-name " style="text-decoration: none;" href=<%= product_path(product)%>>
      <div class="product_item">
        <div class="product_image" style="background: url(http://www.e-reading.club/illustrations/131/131390-square.jpg)  100% 100% no-repeat; background-size: contain;">
        </div>
        <div class="product-name-block">
          <%= product.name %>
        </div>
      </div>
      </a>
  <% end %>
</div>
