<div class="container">
  <div class="row">
      <div class="plans-title">
        <span>Plans</span>
      </div>
      <div class="plan-list-box">
        <table class="table table-hover">
          <tbody>
          <% @product.plans.each do |current_plan| %>
              <tr>
                <td><a class="plan-name-link link" href="<%= product_plan_path(@product, current_plan) %>"><%= current_plan.name %></a></td>
                <td><%= current_plan.updated_at %></td>
              </tr>
          <% end  %>
          </tbody>
        </table>
      </div>
  </div>
</div>
</div>






