<div class="result-data">
  <select class="form-control form-control-small form-select" name="addResultStatus" id="addResultStatus">

    <% @statuses.each_with_index do |current_status, index| %>

        <option value=" <%= index %>"><%= current_status.name %></option>
    <% end %>
  </select>
  <textarea class="result-comment">
  </textarea>
  <a class="btn btn-primary" onclick="$('.edit_result_set').submit()">Add new result</a>
  <a class="btn btn-default manual-botton">Cancel</a>
</div>